/* =============================================================================
                   Normalize, border box and clearfix 
   ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } .clearfix {display: inline-block; } html[xmlns] .clearfix {display: block; } * html .clearfix {height: 1%; } 

/*
==============================================================================
My Code Starts Here
==============================================================================
*/

/*
==============================================================================
Main Background Section
==============================================================================
*/

$purple: #888CED;
$gray: #565A5C;
$lightgray: #EDEFED;

body {
	background-color: $lightgray;
}

h3 {
	font: 300 22px/150% "Roboto Condensed", Sans-serif, Serif;
	color: $gray;
	padding: 12px;
	padding-left: 14px;
}

h4 {
	font: 300 19px/150% "Roboto", Sans-serif, Serif;
}

h1 {	
	font: 700 60px/150% "Roboto Condensed", Sans-serif, Serif;
	color: #fff;
}

.mainbackground {
  	width: 100%;
  	margin: 0 auto;
  img {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
  }
}

.mainpageheader {
	position: absolute;
	top:245px;
	left: 0;
	text-align: center;
	width: 100%;
	h3 {
	font: 300 40px/150% "Roboto Condensed", Sans-serif, Serif;
	color: #fff;
	padding: 0;
	margin-bottom: 60px;
}
	a {
		text-decoration: none;
	}
}

.button,
.profilebutton {
	width: 12%;
	opacity: 0.85;
	margin: 0 auto;
	border-radius: 3px;
	background-color: $purple;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out; 
	&:hover {
		// background-color: #292929;
		background-color: $gray;
		opacity: 0.85;
		-webkit-transition: all 0.2s ease-out; 
	}
h5 {
	color: #fff;
	font: 300 20px/150% "Roboto", Sans-serif, Serif;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
}
}

.profilebutton {
	width: 75px;
}

.learnmore {
	margin-top: 100px;
	display: inline-block;
	h4 {
		margin-bottom: 0;
		color: #fff;
	}
	i {
		color: #fff;
		-webkit-transition: all 0.4s ease-out;
		margin-top: -10px;
	}
	&:hover {
		cursor: pointer;
		i {
		color: $gray;
		margin-top: 0;
		opacity: 0.85;
		-webkit-transition: all 0.4s ease-out;
		}
	}
}

/*
==============================================================================
Sign In Overlay Section with Sign In Menu
==============================================================================
*/

.signlog {
	position: fixed;
	z-index: 99;
	top: 0;
	right: 70px;
	opacity: 0.9;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	h4 {
		padding: 15px;
		float: left;
		font-size: 16px;
	}
	h4:first-child {
		background-color: $gray;
		border-radius: 0 0 3px 3px;
		-webkit-transition: all 0.2s ease-out;
		&:hover {
			background-color: #757A7D;
			-webkit-transition: all 0.2s ease-out;
		}
	}
	a {
		color: #fff;
		text-decoration: none;
	}
}

.overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
	// background: rgba(0, 0, 0, 0.75);
	background: rgba(237, 239, 237, 0.75);
}

.overlay-content {
	display: none;
	position: relative;
	top: 0;
	left: 0;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 3px;
	width: 50%;
	box-shadow: 0 0 30px 0 $gray;
}

.overlay-content.popup {
	background-color: #fff;
	border-radius: 3px;
	width: 20%;
}
	
.overlay-content,
.fullprofile { 
	p {
		font: 300 20px/150% "Roboto Condensed", Sans-serif, Serif;
		text-align: center;
		color: $gray;
		padding-top: 12px;
		padding-left: 12px;
		padding-right: 12px;
		padding-bottom: 12px;
	}
	input,
	textarea {
		resize: none;
		border-radius: 3px;
		padding: 10px;
		padding-left: 6px;
		color: $gray;
		width: 100%;
		border: 1px solid #D7D9D7;
		-webkit-transition: all 0.2s ease-out;
		&:focus {
			outline: 0;
			border: 1px solid #A7A8A7;
			-webkit-transition: all 0.2s ease-out;
		}
	}
	input[type=text],
	textarea {
			font: 300 15px/150% "Roboto Condensed", Sans-serif, Serif;
			color: $gray;
		}
	input[type=password] {
		font: 300 15px/150% "Roboto Condensed", Sans-serif, Serif;
		color: $gray;
		}
}

.inputs {
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
}

.sign {
	width: 100%;
	padding: 15px;
	border-radius: 0 0 3px 3px;
	p {
		color: #fff;
		padding: 0;
	}
}


/*
==============================================================================
Instruction Slide Down Section
==============================================================================
*/

.instruction {
	background-color: $purple;
	width: 100%;
	display: none;
h1 {
	font: 300 45px/150% "Roboto Condensed", Sans-serif, Serif;
	color: #fff;
	padding: 10px;
	text-align: center;
}
}

.instructionclose i {
	position: absolute;
	right: 12px;
	top: 6px;
	cursor: pointer;
	color: $gray;
	&:hover {
		color: #757A7D;
		opacity: 0.85;
	}
}

.mentoricon {
	width: 67%;
	margin: 0 auto;
}

.images {
	float: left;
	padding: 20px;
	text-align: center;
	width:33%;
	img {
		width: 260px;
	}
	h4 {
		font-size: 22px;
		color: #fff;
		padding-top: 20px;
	}
	p {
		font: 300 14px/150% "Roboto Condensed", Sans-serif, Serif;
		color: #fff;
		padding-top: 8px;
	}
}


/*
==============================================================================
About Section
==============================================================================
*/

.about {
	width: 100%;
	background-color: $lightgray;
	h1 {
		padding: 10px;
		padding-top: 25px;
		font-size: 35px;
		color: $gray;
		text-align: center;
	}
	p {
		font: 300 18px/150% "Roboto Condensed", Sans-serif, Serif;
		padding: 15px;
		text-align: center;
	}
}

.onethird {
	width: 30%;
	height: 400px;
	background-color: $lightgray;
	border: 2px solid black;
	margin-top: 40px;
	margin-left: 50px;
	margin-bottom: 40px;
}

/*
====================================================================================================================================================
Profile Page
====================================================================================================================================================
*/

/*
==============================================================================
Profile Page - Navigation
==============================================================================
*/

.profile {
	width: 100%;
	height: 45px;
	background-color: $purple;
	// border-bottom: 2px solid rbga(136, 140, 237, 0.25);
	h1 {
		font-size: 30px;
		margin-left: 20px;
		float: left;
	}
}

.profile ul {
	margin-right: 20px;
		li {
		float: right;
		padding-left: 25px;
		padding-top: 8px;
		font: 300 19px/150% "Roboto", Sans-serif, Serif;
		color: #fff;
		-webkit-transition: all 0.2s ease-out;
		&:hover {
		color: $gray;
		-webkit-transition: all 0.2s ease-out;
		cursor: pointer;
		}
	}
}

/*
==============================================================================
Profile Page - Image and Name
==============================================================================
*/

.profiletop {
	width: 80%;
	height: 175px;
	margin: 0 auto;
	margin-top: 50px;
}

.profileimage {
	img {
	width: 150px;
	border-radius: 50%;
	float: left;
	}
}

.profilename {
	float: left;
	margin-top: 30px;
	h2 {
		font: 300 40px/150% "Roboto Condensed", Sans-serif, Serif;
		margin-left: 40px;
	}
	h3 {
		font: 300 16px/150% "Roboto Condensed", Sans-serif, Serif;
		color: $gray;
		margin-top: -7px;
		margin-left: 60px;
	}
}

/*
==============================================================================
Profile Page - Skills Section
==============================================================================
*/

.skills,
.fullprofile {
	clear: both;
	width: 100%;
	margin-left: 20%;
}

.learning,
.havelearned,
.aboutme,
.education,
.otherinterests,
.portfolio,
.contactinfo {
	background-color: #fff;
	float: left;
	width: 30%;
	margin-bottom: 50px;
	border: 1px solid #d8d8d8;
	border-bottom-width: 2px;
	border-top: 3px solid $purple;
	border-radius: 3px;
	ul {
		padding-bottom: 12px;
		li {
		padding-left: 24px;
		font: 300 16px/150% "Roboto Condensed", Sans-serif, Serif;
		color: $gray;
		}
	}
}

.aboutme,
.aboutcontent {
	border-top: 3px solid #e74c3c;
}

.education,
.educontent {
	border-top: 3px solid #1abc9c;
}


.otherinterests,
.othercontent {
	border-top: 3px solid #8e44ad;
}

.portfolio,
.portcontent {
	border-top: 3px solid #f1c40f;
}

.contactinfo,
.contactcontent {
	border-top: 3px solid #19B5FE;
}

.havelearned {
	margin-right: 20px;
}

.completeprofile {
	clear: both;
}

.prof {
	width: 240px;
	opacity: 1;
}

.fullprofile {
	display: none;
	margin-top: 25px; 
}

.aboutme,
.otherinterests {
	margin-right: 20px;
}

.otherinterests,
.contactinfo {
	clear: both;
}


/*
==============================================================================
Profile Page - Skills Section - Drop Down Menu and List
==============================================================================
*/

button.add {
	outline: 0;
	border: 0;
	color: #fff;
	padding: 5px;
	font: 300 14px/150% "Roboto", Sans-serif, Serif;
	width: 65px;
	float: right;
	margin-right: 20px;
}

select {
	font: 300 16px/150% "Roboto", Sans-serif, Serif;
	border-radius: 3px;
	border: 1px solid #d8d8d8;
	outline: 0;
	float: left;
}

.langskill,
.langwant {
	margin-left: 20px;
	margin-bottom: 12px;
}

option {
	color: $gray;
	border-radius: 3px;
	border: 1px solid #d8d8d8;
	border-bottom-width: 2px;
}

.skilllist,
.wantlist,
.skilllevel,
.wantlevel {
	float: left; 
}

.meter {
	margin-top: 5px;
	margin-left: 5px;
}

.meter span {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: 3px;
	background-color: #fff;
	border: 1px solid rgb(84,240,84);
	-webkit-transition: all 0.2s ease-out; 
	float: left;
}

.meter span.filled {
	background-color: rgb(84,240,84);
}

.meter span:hover {
	-webkit-transition: all 0.2s ease-out; 
}


/*
==============================================================================
Profile Page - Slide Down Full Profile
==============================================================================
*/

.fullprofile a {
	font: 300 14px/150% "Roboto Condensed", Sans-serif, Serif;
	padding-top: 8px;
	display: inline-block;
	text-decoration: none;
	&:hover {
		color: $gray;
	}
}

.fullprofile p {
	color: #aaaaaa;
	font-size: 15px;
	text-align: left;
	padding: 0;
}

.profilebutton p {
	text-align: center;
	color: #fff;
}

button.profilebutton {
	outline: 0;
	border: 0;
	color: #fff;
	margin-bottom: 30px;
	margin-left: 14px;
	cursor: pointer;
}

button.profilebutton.cancel {
	background: #fff;
	border: 1px solid #D7D9D7;
	margin-left: 0;
	&:hover {
		border: 1px solid #A7A8A7;
	}
	p {
		color: $gray;
	}
}

input:hover,
textarea:hover {
	border: 1px solid #A7A8A7;
}

input.schoolname {
	width: 30%; 
}

input.year {
	width: 19%;
}

button.addschool,
button.addport {
	margin-left: 0;
	margin-top: 12px;
	margin-bottom: 12px;
}

/*
==============================================================================
Profile Page - CSS FOR CONTACT INFORMATION SECTION
==============================================================================
*/

.socialicon {
	width: 100%;
}

.contactbuttons {
	clear: both;
}

.contactcontent {
	width: 30%;
}

input.contacttext {
	margin-bottom: 12px;
	width: 80%;
}

.socialicons i {
	margin-bottom: 10px;
}

i.facebook {
	color: #425F9C;
}

i.tumblr {
	color: #35465c;
}

i.twitter {
	color: #4099FF;
}

i.linkedin {
	color: #1B86BC;
}

i.mail {
	color: #B81F24;
}

.socialicons {
	float: left;
	width: 17%;
}



