/* =============================================================================
                   Normalize, border box and clearfix 
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/*
==============================================================================
My Code Starts Here
==============================================================================
*/
/*
==============================================================================
Main Background Section
==============================================================================
*/
body {
  background-color: #888ced; }

h3 {
  font: 300 40px/150% "Roboto Condensed", Sans-serif, Serif;
  color: #fff; }

h4 {
  font: 300 35px/150% "Roboto Condensed", Sans-serif, Serif; }

h1 {
  font: 700 60px/150% "Roboto Condensed", Sans-serif, Serif;
  color: white; }

.mainbackground {
  width: 100%;
  margin: 0 auto; }
  .mainbackground img {
    width: 100%;
    background-size: cover;
    background-attachment: fixed; }

header {
  position: absolute;
  top: 245px;
  left: 0;
  text-align: center;
  width: 100%; }
  header h3 {
    margin-bottom: 60px; }
  header a {
    text-decoration: none; }

.button {
  width: 12%;
  opacity: 0.85;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #888ced;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out; }
  .button:hover {
    background-color: #565a5c;
    opacity: 0.85;
    -webkit-transition: all 0.2s ease-out; }
  .button h5 {
    color: #fff;
    font: 300 25px/150% "Roboto Condensed", Sans-serif, Serif;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px; }

.learnmore {
  margin-top: 100px;
  display: inline-block; }
  .learnmore h4 {
    margin-bottom: 0;
    color: #fff; }
  .learnmore i {
    color: #fff;
    -webkit-transition: all 0.4s ease-out;
    margin-top: -10px; }
  .learnmore:hover {
    cursor: pointer; }
    .learnmore:hover i {
      color: #565a5c;
      margin-top: 0;
      opacity: 0.85;
      -webkit-transition: all 0.4s ease-out; }

/*
==============================================================================
Sign In Overlay Section with Sign In Menu
==============================================================================
*/
.signlog {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 70px;
  opacity: 0.9;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out; }
  .signlog h4 {
    padding: 15px;
    float: left;
    font-size: 16px; }
  .signlog h4:first-child {
    background-color: #565a5c;
    border-radius: 0 0 3px 3px;
    -webkit-transition: all 0.2s ease-out; }
    .signlog h4:first-child:hover {
      background-color: #757A7D;
      -webkit-transition: all 0.2s ease-out; }
  .signlog a {
    color: #fff;
    text-decoration: none; }

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.75); }

.overlay-content {
  display: none;
  position: relative;
  top: 0;
  left: 40%;
  background-color: #fff;
  border-radius: 3px;
  width: 20%; }
  .overlay-content p {
    font: 300 20px/150% "Roboto Condensed", Sans-serif, Serif;
    text-align: center;
    color: #565a5c;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px; }
  .overlay-content input {
    border-radius: 3px;
    padding: 10px;
    padding-left: 6px;
    color: #565a5c;
    width: 100%;
    border: 1px solid #D7D9D7;
    -webkit-transition: all 0.2s ease-out; }
    .overlay-content input:focus {
      outline: 0;
      border: 1px solid #A7A8A7;
      -webkit-transition: all 0.2s ease-out; }
  .overlay-content input[type=text] {
    font: 300 15px/150% "Roboto Condensed", Sans-serif, Serif;
    color: #565a5c; }
  .overlay-content input[type=password] {
    font: 300 15px/150% "Roboto Condensed", Sans-serif, Serif;
    color: #565a5c; }

.inputs {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px; }

.sign {
  width: 100%;
  padding: 15px;
  border-radius: 0 0 3px 3px; }
  .sign p {
    color: #fff;
    padding: 0; }

/*
==============================================================================
Instruction Slide Down Section
==============================================================================
*/
.instruction {
  background-color: #888ced;
  width: 100%;
  display: none; }
  .instruction h1 {
    font: 300 45px/150% "Roboto Condensed", Sans-serif, Serif;
    color: #fff;
    padding: 10px;
    text-align: center; }

.instructionclose i {
  position: absolute;
  right: 12px;
  top: 6px;
  cursor: pointer;
  color: #565a5c; }
  .instructionclose i:hover {
    color: #757A7D;
    opacity: 0.85; }

.mentoricon {
  width: 67%;
  margin: 0 auto; }

.images {
  float: left;
  padding: 20px;
  text-align: center;
  width: 33%; }
  .images img {
    width: 260px; }
  .images h4 {
    font-size: 22px;
    color: #fff;
    padding-top: 20px; }
  .images p {
    font: 300 14px/150% "Roboto Condensed", Sans-serif, Serif;
    color: #fff;
    padding-top: 8px; }

/*
==============================================================================
About Section
==============================================================================
*/
.about {
  width: 100%;
  background-color: #EDEFED; }
  .about h1 {
    padding: 10px;
    padding-top: 25px;
    font-size: 35px;
    color: #565a5c;
    text-align: center; }
  .about p {
    font: 300 18px/150% "Roboto Condensed", Sans-serif, Serif;
    padding: 15px;
    text-align: center; }

.onethird {
  width: 30%;
  height: 400px;
  background-color: #EDEFED;
  border: 2px solid black;
  margin-top: 40px;
  margin-left: 50px;
  margin-bottom: 40px; }
